<!-- File name:  footer.ejs
Author:     Luis Grijalva 100719475 
            Steven Mitchell 100506443
Date:       4/4/2020  -->
<footer id="mainFooter">
    <nav class="navbar fixed-bottom navbar-dark" style="background: transparent;">
        <h4 class="display-6" >&copy; CopyRight 2020.</h4>
    </nav>
</footer>