<!-- 
File name:  about.ejs
Author:     Luis Grijalva 100719475 
            Steven Mitchell 100506443
Date:       4/4/2020 
-->

<!-- Main Content -->
<div class="row">
    <div class="col">
        <div class="jumbotron" id="contentArea">
            <img src="/Assets/headshot.jpg" class="rounded float-right img-thumbnail img-fluid" alt="batman headshot">
            <h1 class="display-4">About me, Batman!</h1>
            <br />
            <p>
                My name is Batman, who am I under the mask? Mind your business! I am the defender of Gotham, fighting
                crime from the shadows to keep my city safe and doing what most could not so that they can live free from the
                burdens I have to live with everyday.
            </p>
            <p>
                When I was still just a young boy my family was taken from me and I was left alone in this world. I
                travelled the world alone for a long time, not sure where I should go or what I should do with my life. When I was 
                just 20 years old I found my way into a monastery where I was trained to fight for 7 years before returning to my 
                home.
            </p>
            <p>
                My main drive in life now is simply to prevent others from experiencing the pain I did by seeking JUSTICE on those
                who do wrong.
            </p>

        </div>
    </div>
</div>