<!-- 
    File name: home.ejs
    Author: Luis Grijalva 100719475 
        Steven Mitchell 100506443
Date: 4/4/2020  
-->

<!-- Main Content -->
<div class="row">
    <div class="col">
            <div class="jumbotron" id="contentArea">
                <img src="/Assets/im_batman.gif" class="rounded float-right img-thumbnail img-fluid" alt="batman introduction">
                <h1 class="display-4">Welcome to my Site!</h1>

                <!-- Added mission statement -->
                <h2>Mission Statement:</h2>
                <p class="lead">
                    This site was built to showcase information about myself, Batman, what I am all about as well as what I am
                    currently working on and would like to to move into working on in the future. My hope is to give anyone
                    reading this a better understanding of who I am.
                </p>
                <br/>
                <hr/>
                <ul class="list-group" style="width: 50%;">
                    <li class="list-group-item"><p>Click <a href="/projects">here</a> to see all my current projects</p></li>
                    <!-- Added serivces link -->
                    <li class="list-group-item"><p>Click <a href="/services">here</a> to see all the services I offer</p></li>
                    <!-- Added about me link -->
                    <li class="list-group-item"><p>Click <a href="/about">here</a> to learn more about me</p></li>

                  </ul>
                  <hr/>
            </div>
    </div>
</div>
