<!-- File name:  projects.ejs
Author:     Luis Grijalva 100719475 
            Steven Mitchell 100506443
Date:       4/4/2020  -->
<!-- Main Content -->
<div class="row">
  <div class="col">
    <div class="jumbotron" id="contentArea">
      <h1 class="display-4">Interesting Projects Live Here!</h1>
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="/Assets/batman_joker.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Beating up the Joker</h5>
            <p class="card-text">
              My main job as the dark knight and protector of Gotham is to beat up the bad guys before they can do any serious
              harm to the citizens of Gotham. My main adversary and biggest causer of trouble is the Joker and as such Beating
              him up and capturing him is a continuing project and basically a full time job at this point.
            </p>
            <p class="card-text"><small class="text-muted">Click <a href="https://batman.fandom.com/wiki/Category:Villains">here</a>
                to find out more about those cases.</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/Assets/batman_car.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Tech creation</h5>
            <p class="card-text">
              I spend some time developing technology to more efficiently beat up the bad guys as well as repairing that tech
              when things go wrong with it, namely the batmobile. As apparently every criminals favourite thing to do is cause
              as much damage a possible to the batmobile before I capture them, I spend much of my down time performing repairs
              and upgrades in it.
            </p>
            <p class="card-text"><small class="text-muted">Click <a href="https://en.wikipedia.org/wiki/Batmobile">here</a>
                to find out more about my creations.</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/Assets/batman_brooding.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Professional brooding</h5>
            <p class="card-text">
              I also spend a significant amount of my time brooding over my past that led me to where I am now as well as all
              of the tragic events I have witnessed and the people I have failed to save over the years. Having spent so much of
              my time brooding, I think it is fair to say I am a professional brooder.
            </p>
            <p class="card-text"><small class="text-muted">Click <a href="https://batman.fandom.com/wiki/Crime_Alley">here</a>
                to learn more and brood with me...</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>