<!-- File name:  services.ejs
Author:     Luis Grijalva 100719475 
            Steven Mitchell 100506443
Date:       4/4/2020  -->
<!-- Main Content -->
<div class="row">
    <div class="col">
            <div class="jumbotron" id="contentArea">
                <h1 class="display-4">An Interesting List of my Services</h1>
                <div class="card-deck">
                    <div class="card">
                      <img class="card-img-top" src="/Assets/batman_costume.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Costume design</h5>
                        <p class="card-text">
                            I'm going to teach you all about how to design and create your very own crime fighting costume!
                        </p>
                        <p class="card-text"><small class="text-muted">Click <a href="https://en.wikipedia.org/wiki/Batman">here</a>
                            to find out more about those cases.</small></p>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="/Assets/batman_voice.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Voice modulation sessions</h5>
                        <p class="card-text">
                          Have you always wanted to sound like a demon straight froma person's worst nightmares? Well look no
                          further than Batman's voice modulation lessons. Attend my classes and you'll be scaring the hell out
                          of everyone in your life in no time at all.
                        </p>
                        <p class="card-text"><small class="text-muted">Click <a href="https://en.wikipedia.org/wiki/Batman">here</a>
                            to find out more about my creations.</small></p>
                      </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="/Assets/batman_anger.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Anger Management</h5>
                            <p class="card-text">
                                Are you constantly overhwelmed by your own anger? I know all about that. Come learn how to properly
                                vent that anger in a healthy and effective manner from the angriest man in Gotham city!
                            </p>
                            <p class="card-text"><small class="text-muted">Click <a href="https://en.wikipedia.org/wiki/Batman">here</a>
                                to learn more and brood with me...</small></p>
                      </div>
                    </div>
                  </div>
            </div>
    </div>
</div>

